<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>pass</title>
  </head>


<body>
    {% block body %}
    <div id="header-div" class="clearfix with-margins">
        <div class="pull-left"><a href="/"><h1 class="no-margins">PassManager</h1></a></div>
        <div class="pull-right">
            {% if current_user.is_authenticated() %}
			{% if current_user.is_admin() %}
                <a href="{{ url_for('new') }}">New</a>
                &nbsp; | &nbsp;
                <a href="{{ url_for('grid') }}">Grid</a>
                &nbsp; | &nbsp;
			{% endif %}
                <a href="{{ url_for('user.profile') }}">{{ current_user.username }}</a>
                &nbsp; | &nbsp;
                <a href="{{ url_for('user.logout') }}">Sign out</a>
            {% else %}
                <a href="{{ url_for('user.login') }}">Sign in</a>
            {% endif %}
    {% block menu %}
        <a href="/">Home</a>
        {% if current_user.is_authenticated() %}
            &nbsp; | &nbsp; <a href="{{ url_for('user.profile') }}">User profile</a>
        {% endif %}
    </div>
    </div>
    {% endblock %}

    <div id="main-div" class="with-margins">
    {# One-time system messages called Flash messages #}
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        {% set category='danger' %}
                    {% endif %}
                    <div class="alert alert-{{category}}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}

    {% block main %}
	<p id="info-p"></p>
	{% block content %}{% endblock %}
	{% endblock %}
    </div>

    {% endblock %}
  </body>
</html>
