body {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:0;
	margin:0;
}

a {
	color:#116C8E;
	text-decoration:none;
}

.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#header-div {
	padding:0.2em;
}
#header-div .pull-left {
	float:left;
}
#header-div .pull-right {
	float:right;
	vertical-align: middle;
	line-height:40px; /* height of the logo */
}

.clearfix {
	overflow:auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

input[readonly] {
	border:none;
}

.text-hidden {
    color:red;
    background:red;
    border:none;
}
.text-hidden::-moz-selection {
    background:red;
}
.text-hidden::selection {
    background:red;
}


#header-div {
	border-bottom:1px solid #e7e7e7;
	background-color:#F5F5F5;
    text-align: center;
}

.keyring-list li {
	list-style-type:none;
}
.keyring-list li a {
	display:block;
	padding:0.2em;
	padding-left:0.8em;
	border-bottom:1px solid #e7e7e7;
}

.keyring-list li:last-child a {
	display:block;
	padding:0.2em;
	padding-left:0.8em;
	border-bottom: none;
}

.keyring-list li a:hover {
	background-color:#e5e5e5;
}

.keyring-list {
	margin:0;
	padding:0;
	border:1px solid #e7e7e7;
	background-color:#F5F5F5;
	border-radius:4px;
}
